@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://rollingrockets.xyz//Misto/Web/fonts/Misto.ttf');
@import url('https://rollingrockets.xyz//Misto/Web/fonts/Misto.woff');
@import url('https://rollingrockets.xyz//Misto/Web/fonts/Misto.woff2');

$font-family-brand: 'Misto';
$font-family: 'Montserrat', sans-serif;

// root
*,
*::before,
*::after {
  margin: 0;
  padding: 0;


}

body,
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 1.4em;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: black;
  
  
}

h1 {
  font-family: $font-family-brand;
  padding: 1em;
  letter-spacing: 2px;
  text-align: center;
  font-size: 26px;
  color: grey;


}
p {
  font-family: $font-family;


}

h2 {
  font-family: $font-family;
  font-weight: 200;
  letter-spacing: 0.1em;
  color: rgb(82, 82, 82);

  
}
h3 {
  font-family: $font-family;
  color: rgb(82, 82, 82);
  font-weight: 200;
}

h4 {
  font-family: $font-family;
  font-size: 100;
  letter-spacing: 0.1em;
}

h5 {
  font-family: $font-family;
  font-size: 100;
  letter-spacing: 0.2em;
  color: rgb(82, 82, 82);
  font-weight: 200;
}

h6 {
  font-family: $font-family;
  font-size: 100;
  text-transform: uppercase;
  letter-spacing: 0.4em;
}




// nav
nav {
  width: 100%;

  margin-bottom: 200px;
  // position: fixed;
  // top: 0;
  // z-index: 4;

  background-color: rgba(255, 255, 255, 0.961);
  border-radius: 5px;



  .container {

    display: flex;
    justify-content: space-between;

    svg {
      width: 40vmin;
      padding: 30px;
    }

  }



  .nav-item {
    // background-color: #F52D01;
    // height: 100vh;
    // min-width: 300px;
    // position: fixed;
    // z-index: 1;
    // top: 0;
    // right: 0;
    // overflow-x: hidden;
    // transition: 0.5s;

    ul {
      padding: 30px 30px 0px 30px;
      list-style-type: none;
      text-align: right;

      a {
        text-decoration: none;

        /* no underline */
        color: black;


      }


      li {
        font-family: $font-family;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: small;
        // color: whitesmoke;
        padding: 0 25px;
        display: inline-block;
        background-color: transparent;
        transition: font-weight 0.2s ease-in;

        &:hover {
          font-weight: 600;

        }

        &:hover::before {
          content: ' ';
          position: absolute;
          background-color: #F52D01;
          margin-left: -15px;
          width: 3px;
          height: 18px;
          border-radius: 20px 0;





        }

        &:last-child {
          display: none;
        }
      }
    }
  }
}

@keyframes color-bounce {
  0% {
    color: rgb(144, 21, 196);
  }

  25% {
    color: rgb(196, 21, 21);
  }

  50% {
    color: rgb(21, 155, 196);
  }

  100% {
    color: rgb(21, 196, 120);
  }
}

.logo {

  position: fixed;
  left: 0%;
  right: 0%;
  bottom: 0%;
  text-align: center;

}

.product {
  width: 100vw;
  text-align: center;

  img {

    border-radius: 5px;
    width: 90%;
    max-width: 400px;
  }
}

.star{
  width: 100vw;
  height: 100vh;
}


.welcome{
  position: fixed;
  left: 50%;
  right: 50%;
  transform: translate(-50%,50%);
  width: 300px;
  text-align: center;
  h5{
    animation-name: color-bounce;
    animation-duration: 4s;
  
    transition: fill 2s ease-out;
    animation-iteration-count: infinite;
  }

}