nav
    .container
        .logo
            a(href="index.html")
                svg( viewbox='0 0 54 75' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(fill-rule='evenodd' clip-rule='evenodd' d='M2.60586 32.4764C0.937379 34.1435 -3.93841e-06 36.4049 0 38.763L1.84963e-05 50.1962L15.9013 34.3206L36.9907 62.2008C38.8819 64.7009 41.8363 66.1702 44.9721 66.1701L53.2774 66.17L23.6668 26.5677L50.2775 0H38.7918C36.4334 0 34.1717 0.936172 32.5039 2.60265L2.60586 32.4764Z' fill='#F52D01')
                    path(d='M23.7347 26.5445L53.3113 66.152L45.0109 66.1522C41.8785 66.1522 38.9272 64.6842 37.0375 62.1861L15.9613 34.3246L23.7347 26.5445Z' fill='url(#paint0_linear)')
                    defs
                        lineargradient#paint0_linear(x1='32.3993' y1='46.3174' x2='20.4282' y2='29.7659' gradientunits='userSpaceOnUse')
                        stop(stop-color='#F52D01')
                        stop(offset='1' stop-color='#AC1F00')


        .nav-item

            ul
                li
                    a(href="./index.html#services") services
                li 
                        a(href="./index.html#approach") approach
                li 
                        a(href="./index.html#process") process
                li 
                        a(href="#work") our work
                li 
                        a(href="#we") who we are
                li
                    a(href="./index.html")
                        .menu-icon                        
                            svg( viewbox='0 0 48 38' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M1.5 1.5H46.5M1.5 14.5H46.5M1.5 36.5H46.5' stroke='#F52D01' stroke-width='3' stroke-linecap='square' stroke-linejoin='bevel')
            





